# coverage control

[run]
branch = True
source = quantbube

omit=
    .tox/*
    docs/*
    dist/*
    build/*
    sample/*


[report]
show_missing = true

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    except ImportError: